<div class="params">
</div>

<section>
  <!-- <h1>TO DO LIST</h1> -->

  <%if @tasks != nil%>
  <table>
    <tr class="tableheader">
      <td>&#9824;</td>
      <td>TITLE</td>
      <td>DESCRIPTION</td>
      <td></td>
      <td></td>
    </tr>
      <%@tasks.each do |task| %>
    <tr>
      <td><input type="checkbox" name="complete[<%= [Time.new]%>]" value="<%=task%>"></td>
      <td><%=task[0]%></td>
      <td><%=task[1]%></td>
      <td><form action="/edit" method="post" accept-charset="UTF-8">
        <input type="submit" value="edit"></a>
        <input type="hidden" name="edits[]" value="<%=task[2]%>"></form></td>
        

      <td><form action="/delete" method="post" accept-charset="UTF-8">
        <input type="submit" value="delete" onclick="return confirm('Confirm Delete?')"></a>
        <input type="hidden" name="deleted[]" value="<%=task[2]%>"></form></td>

      <% end %>
  </table>
  <% end %>

</section>


<footer>
</footer>
