
<%= @tasks %>

<h1>To Do List</h1>
<table style="width: 100%">
  <tr>
    <td></td>
    <td>Title</td>
    <td>Description</td>
  </tr>
  <form action="" method="post">
    <%@tasks.each do |task| %>
  <tr>
    <td><input type="checkbox" name="complete[<%= [Time.new]%>]" value="<%=task%>"></td>
    <td><%=task[0]%></td>
    <td><%=task[1]%></td>
      <% end %>
  </tr>
</table>
</form>
