<div class="params">


</div>



  <h1>TO DO LIST</h1>

  <%if @tasks != nil%>
  <table>
    <tr class="tableheader">
      <td> &#9824;</td>
      <td>TITLE</td>
      <td>DESCRIPTION</td>
      <td>DELETE</td>
    </tr>
    <form action="" method="post">
      <%@tasks.each do |task| %>
    <tr>
      <td><input type="checkbox" name="complete[<%= [Time.new]%>]" value="<%=task%>"></td>
      <td><%=task[0]%></td>
      <td><%=task[1]%></td>
      <td><form action="/" method="post" accept-charset="UTF-8">
          <input type="submit" value="delete" onclick="return confirm('Confirm Delete?')"></a>
          <!-- this is the delete button on the homepage-->
      <input type="hidden" name="deleted[]" value="<%=task[2]%>"></form></td>
      <% end %>
    <!-- </tr> -->
  </table>
  </form>
  <% end %>

<footer>
</footer>
