
<%= @tasks %>

<%if @tasks.length != 0%>
<h1>TO DO LIST</h1>
<table>
  <tr class="tableheader">
    <td></td>
    <td>TITLE</td>
    <td>DESCRIPTION</td>
  </tr>
  <form action="" method="post">
    <%@tasks.each do |task| %>
  <tr>
    <td><input type="checkbox" name="complete[<%= [Time.new]%>]" value="<%=task%>"></td>
    <td><%=task[0]%></td>
    <td><%=task[1]%></td>
      <% end %>
  </tr>
</table>
</form>
<% end %>
